@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.cases {
  @extend %container;
  background-color: $color-bg;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 10px;

  @include md {
    margin-top: 0;
  }
}