@use "../../../presets" as *;
@use "../../../mixins" as *;

.member-menu {
  align-self: center;

  &__btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin-left: auto;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include sm-min {
      display: none;
    }

    &-row {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 3px;
      background: $color-main;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }

    &.active span {
      &:nth-child(1) {
        top: 9px;
        left: 50%;

        width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        left: 50%;

        width: 0;
      }
    }
  }

  &__list {
    font-size: 18px;

    @include unlist;

    @include sm-min {
      display: flex;
      justify-content: flex-end;

      gap: $gap-md;
    }

    @include sm {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;

      display: none;

      padding: $gap;

      text-align: center;

      background-color: rgba($color-white, 0.9);
      box-shadow: 1px 3px 10px rgba($color-black, 0.5);
    }
  }

  &__link {
    display: block;

    color: $color-active;

    @include sm-min {
      padding: 0.25em 0;
    }

    @include sm {
      padding: 0.5em 1em;
    }

    &.active {
      color: $color-accent;
      border-bottom: 2px solid #F0145A;
    }

    &:hover {
      color: $color-accent;
    }
  }
}