@use "../../../presets" as *;
@use "../../../mixins" as *;

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 4px solid $color-separator;

  @include sm {
    flex-direction: column;
    align-items: flex-start;
  }

  &__position {
    max-width: 150px;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;

    @include sm {
      max-width: 335px;
    }

  }

  &__email {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 150px;

    @include sm {
      max-width: 335px;
    }

    &--link {
      &:hover {
        color: $color-accent;
      }
    }

  }

  &__social {
    font-size: 16px;
    line-height: 19px;
    max-width: 150px;

    @include sm {
      max-width: 335px;
    }

    &--link {
      &:hover {
        color: $color-accent;
      }
    }
  }
}