@use "../../../../presets" as *;
@use "../../../../mixins" as *;

$size: 16px;

.slider {
  display: flex;

  @include md-min {
    gap: 80px;
    padding-right: 35px;
  }

  @include lg {
    padding-right: 0;

  }

  @include md {
    flex-direction: column;
    align-items: center;
  }

  @include xs {
    display: block;
  }

  &__headers {
    position: relative;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 2;
    gap: $gap;

    z-index: 10;
    cursor: pointer;


    @include md-min {
      &::after {
        position: absolute;
        right: -42px;
        width: 4px;
        height: 100%;
        content: "";
        background-color: $color-separator;
      }
    }

    @include md {
      align-items: center;
    }

    @include sm {
      align-items: flex-start;
    }
  }

  &__header {
    position: relative;
    user-select: none;
    color: $color-text;
    font-family: 'TT Norms';

    font-size: 42px;
    line-height: 50px;
    margin: 0;

    @include md-min {
      text-align: right;
      font-size: 42px;
    }

    @include lg {
      font-size: 35px;
    }

    @include md {
      display: none;
      width: min-content;
      margin-bottom: 10px;
      white-space: nowrap;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  &__header.active {

    @extend %text-liner-gradient-reversed;

    &::after {
      position: absolute;
      z-index: 1;
      right: -42px;
      width: 4px;
      height: 100%;
      content: "";
      background-color: $color-accent;

      @include md {
        display: none;
      }

    }

    @include md {
      display: block;
    }
  }


  &__header:hover {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $gradient-red-text;
    transition: color 0.3s ease;
  }

  &__notes {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 3;
    color: $color-white;
    max-width: 600px;
    overflow-wrap: anywhere;



    @include sm {
      max-width: 550px;
    }

    @include xs {
      max-width: 450px;
      margin-bottom: 40px;
    }

    @include xx {
      max-width: 400px;
    }

    @include ux {
      max-width: 335px;
    }
  }

  &__note {
    position: absolute;
    z-index: -100;
    opacity: 0;

    &.active {
      position: static;
      z-index: inherit;
      opacity: 1;
    }

    @include md {
      text-align: center;

    }

    @include sm {
      text-align: left;

    }
  }

  &__title {
    margin-bottom: $gap;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    @include md-min {

      font-size: 32px;
      line-height: 38px;
    }

    @include md {
      margin-bottom: 15px;
      font-size: 22px;
    }

    @include sm {
      margin-top: 1px;
    }
  }

  &__description {
    max-width: 600px;
    font-size: 18px;
    line-height: 26px;


    @include md-min {

      font-size: 21px;
      line-height: 30px;
      margin-top: 25px;
    }

    @include xl {
      max-width: 530px;
    }

    @include lg {
      max-width: 300px;
    }

    @include md {
      margin-bottom: $gap;
      font-size: 18px;
      max-width: 500px;
    }

    @include sm {
      max-width: 400px;

    }

    @include xs {
      max-width: 320px;
    }

    @include xx {
      max-width: 290px;
    }

    @include ux {
      max-width: 220px;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
  }

  &__indicator {
    width: $size;
    height: $size;

    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-active;

    @include md-min {
      display: none;
    }

    &.active {
      opacity: 1;
    }

    &:hover {
      background-color: $color-active-hover;
    }
  }
}